/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
 
 .hero {

 	h1 {
 		color: #555555;
 		text-align: center; 
 		text-transform: uppercase; 
 		line-height: 1.3; 
 		margin-bottom: 50px;
 		font-weight: bold; 
 		font-size: 38px ; 
 	} 

 	p {
 		color: #797979; 
 		text-align: center; 
 		margin-bottom: 20px; 
 		font-size: 20px; 
 		line-height: 1.3; 
 		max-width: 770px;
 		margin-right: auto; 
 		margin-left: auto; 

 	}
 }

.features{
	background: #f9f8f7; 
	@include clearfix; 
	padding: 50px 10px; 
	border-top: 1px solid #e0e1e1;
	.top{
			h1 {
				text-align: center; 
				font-weight: bold; 
				color: #555555; 
				font-size: 38px ; 
			}
			h5 {
				text-align: center;
				color: #797979; 
				line-height: 1.3; 
				font-size: 20px; 
			}
	}
	
	.feature-list {
		
		.item-outer	{
			width: 33.33%; 
					float: left; 
					padding: 10px; 

			.item {
					border-radius: 2px;
					border: 1px solid #e4e5e6;
					border-bottom: 5px solid #64addb;
					padding: 20px; 
					background: #fff; 
					padding-top: 60px; 
					margin-bottom: 30px; 
					h1 {
						font-weight: bold; 
						margin-bottom: 10px; 
						font-size: 50px; 
					}
					h5 {
						font-weight: bold; 
						margin-bottom: 30px; 
						font-size: 20px;  
					}
					p {
						margin-bottom: 30px; 
						font-size: 16px; 
					}
					

			}
		}
	}
}
.feature-tabs {
	padding: 20px 0 40px; 

	h1 {
		color: #555555; 
	}
	.tabpanel{
		text-align: center; 
	}
	.nav-tabs {
	  border-bottom: 1px solid transparent;
	  text-align: center; 
	  display: inline-block; 
	  margin-bottom: 50px; 

	}
	.nav-tabs > li {
	  float: left;
	  margin-bottom: -1px;
	  border-right: 2px solid #e7e7e7; 
	}
	.nav-tabs > li > a {
	  
	  line-height: 1.42857143;
	  border: 1px solid transparent;
	  border-radius: 0; 
	  
	  color: #555555; 
	  font-weight: bold; 
	  margin-right: 29px;   
	  margin-left: 15px;  
	  font-size: 15px; 
	  line-height: 1.2; 
	}
	.nav-tabs > li > a:hover {
	  border-color: transparent;
	  background: #fff; 
	   border-bottom: 2px solid #64addb;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
	  color: #555;
	  cursor: default;
	  background-color: #fff;
	  border: 1px solid transparent;
	  border-bottom-color: transparent;
	  border-bottom: 2px solid #64addb; 
	}

	.tab-content{
		text-align: left; 
		h2 {
			margin-top: 0; 
		}
		 p {
		 	margin-bottom: 20px; 
		 	color: #797979;
		 	font-size: 18px; 
		 }

		 .row {
		 	 > [class*='col-'] {
		 		padding: 30px;  
		 	}
		 }

		 .container {
		   padding-right: 15px;
		   padding-left: 15px;
		   margin-right: auto;
		   margin-left: auto;
		 }
		 @media (min-width: 768px) {
		   .container {
		     width: 750px;
		   }
		 }
		 @media (min-width: 992px) {
		   .container {
		     width: 970px;
		   }
		 }
		 @media (min-width: 1200px) {
		   .container {
		     width: 1100px;
		   }
		 }
	}
}

.features-blue{
	background: #4472d8; 
	text-color: #fff; 
	@include clearfix;
	padding: 50px 0 150px; 

	h1 {
		color: #fff; 
		text-align: center; 
		border-bottom: 1px solid #688ddf; 
		padding-bottom: 40px;
		line-height: 1.4; 
		font-weight: bold; 
		margin-bottom: 50px; 
	}

	img {
		margin-bottom: 50px; 
	}

	.item-outer	{
			width: 33.33%; 
					float: left; 
					padding: 5px; 

			.item {
					color: #fff; 
					padding: 10px;
					h4 {
						margin-bottom: 20px; 
						font-weight: bold; 
						font-size: 20px; 

					}
					h5  {
						margin-bottom: 50px; 
						position: relative;
						line-height: 1.5; 
						font-weight: normal;  
						font-size: 16px; 
					}

					.heading-underline:after {
						content: ' ';
						position: absolute;
						bottom: -50px;
						left: 0; 
						width: 20%; 
						height: 3px; 
						display: inline-block; 

						margin-bottom: 20px;
							border-bottom: 2px solid #64addb;
					}

					p {
						margin-bottom: 20px; 
						font-size: 16px; 	
					}
					

			}
		}

}

.site-footer{
	background: #3b3f3f;
	padding: 30px;
	p {
		color: #aaaaaa;
	}
	.site-inner {
			border-top: 1px solid #444848;
	 		padding-top: 20px;
	}
	
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.vsm-feature {
	padding: 80px 0 50px; 
	h1 {
		text-align: center; 
		margin-bottom: 70px; 
		font-weight: bold; 
	}
	img {
		margin-bottom: 10px; 

	}
	h4  {
		margin-bottom: 10px; 
		font-weight: bold; 
		color: #555555; 
		font-size: 20px; 
	}
	p {
		color: #797979; 
		font-size: 18px; 
	}

	.row {
		margin-bottom: 60px; 
	}
}

.start-vms{
	margin-top: 80px; 
	margin-bottom: 40px; 
	 
}
.start-vms-inne {
		border: 1px solid #e4e5e6;
		@include clearfix; 
		max-width: 900px; 
		border-radius: 4px; 
		margin-right: auto; 
		margin-left: auto; 
		position: relative;   
		-webkit-box-shadow: 0px 0px 91px -24px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 91px -24px rgba(0,0,0,0.75);
box-shadow: 0px 0px 91px -24px rgba(0,0,0,0.75);
		
		img {
			position: absolute;
			bottom: 0; 
			width: 100%; 
			max-width: 312px;
			margin-bottom: 0; 
			right: 0;

		}
	.left{
		width: 70%; 
		float: left; 
		padding:120px 50px 50px; 
		text-align: left; 
		h1 {
			text-align: left;
			color: #555555; 
			margin-bottom: 30px; 
		}
		p {
			text-align: left;
			color: #8b8b8b;
			font-size: 16px; 
			margin-bottom: 30px; 
		}

	} 
	
}

h2 {
	position: relative; 
	text-align: left; 
	margin-bottom: 50px;
	text-color: #555555; 
	&.heading-underline:after {
 
			content: ' ';
			position: absolute;
			bottom: -40px;
			left: 0;  
			width: 20%; 
			height: 6px; 
			display: inline-block; 

			margin-bottom: 20px;
				border-bottom: 3px solid #64addb;
	}
}


h4 {
	position: relative; 
	text-align: left; 
	margin-bottom: 50px; 
	text-color: #555555; 
	&.heading-underline:after {
 
			content: ' ';
			position: absolute;
			bottom: -45px;
			left: 0;  
			width: 20%; 
			height: 6px; 
			display: inline-block; 

			margin-bottom: 20px;
				border-bottom: 3px solid #64addb;
	}
}
.upppercase{
	text-transform: uppercase; 
}
.featureslist { 
	padding-left: 0; 
	list-style: none; 
	li {
		list-style: none; 
		a {
			color: #64addb; 
			display: block; 
			margin-bottom: 10px; 
			font-size: 14px; 
		}
	}
}