/*
 * ----------------------------------------------------------------------------------------
 * Nav styles.
 * ----------------------------------------------------------------------------------------
 */

 @mixin navbar-height-setup($navbar-height) {
  min-height: $navbar-height;
  .navbar-brand {
    height: $navbar-height;
    margin-top: -6px;
  }
  .navbar-nav {
    > li {
      > a {
        line-height: $navbar-height;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }
}


$nav-background: #fff;
$nav-border-color: transparent; 

$nav-anchor-bg: transparent;
$nav-anchor-color: #555555;
//hover
$nav-anchor-active-hover-focus-bg: transparent;
$nav-anchor-hover-focus-color: darken(#555555, 5%);
//active 
$nav-anchor-active-hover-focus-bg: transparent;
$nav-anchor-active-hover-focus-color: #555555;

$nav-anchor-border-color: #fff;

// dropdown-menu 
$dropdown-menu-bg:  darken( $nav-anchor-bg, 5%);

$navbar-height: 70px;

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 20px; 
  margin-top: 10px; 
}
.navbar-default {
  @include breakpoint(min-width 768px){
    @include navbar-height-setup($navbar-height);
  }
  background-color: $nav-background;
  border-color: $nav-border-color;
  .navbar-nav li { 
    a { 
      background: $nav-anchor-bg; color: $nav-anchor-color;  
      border-right: 1px solid;
      font-size: 14px;
      font-weight: bold;
      border-color: $nav-anchor-border-color;  
      &:hover, &:focus,  &:active { background: $nav-anchor-active-hover-focus-bg;     color: $nav-anchor-hover-focus-color; }
    }

    &.active a, &.active:hover a, &.active:focus a { background: $nav-anchor-active-hover-focus-bg; color: $nav-anchor-active-hover-focus-color;  }
  }
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px; 
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0; 
  }
  .dropdown-menu { 
    background: $dropdown-menu-bg; 
  }
  .navbar-nav>.open>a, 
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus {
    color: #fff;
    background-color:darken( #1080db, 5%);
  }
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus {
    border: 0; 

  }
}// end 
.btn-medium{
  @include button-size( 15px , 20px , 13px, 1.692, 2px);
}
.btn-mystyle {
  @include button-variant( #fff , #64addb , #64addb );
}
.btn-custom {
  @include button-variant(white, transparent, #73aaee);
}

.top-bar {
  background: #f9f8f7; 
  padding: 10px;
  color: #555555; 
  select.form-control {
    background: transparent; 
    border: 0; 
    width: auto; 
    display: inline-block; 
    padding-left: 5px; 
    color: #555555; 
    font-size: 14px; 
    webkit-box-shadow: none;
            box-shadow: none;
    webkit-box-shadow: none;
            box-shadow: none;

             &:focus {
            border-color: #66afe9; //blue
            outline: 0;
            -webkit-box-shadow: none;
                    box-shadow: none;
            }

  }

   i {
      color: #64addb;  
      font-size: 16px; 
      margin-right: 0; 

    }

  .dropdown {
    line-height: 30px;
    cursor: pointer;
    color: #555555; 
   
  }
  .btn-default {
   font-size: 13px !important;
   text-transform: uppercase;
   line-height: 1.692;
   font-weight: bold;
 }
}

a.gray {
  color: #555555; 
}
.footer-header {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  line-height: 22px;
  margin-bottom: 20px;
}
.footer-menu {
  font-size: 14px;
  line-height: 31px;
}
.footer-langs-row {
  padding: 20px 0;
}
.footer-social {
  color: white;
  font-size: 22px;
  line-height: 24px;
  margin-top: 20px;
  i {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.footer-logo-row {
  padding: 20px 0 0 0;
 
}
.copyright-row {
  font-size: 14px;
  line-height: 22px;
  color: #797979; 

  ul {
    li {
      a {
        color: #797979;  
      }
    }
  }
}