        <!-- @include html_Moudles/header.html -->
		<div class="top-bar">
        				<div class="container-fluid">
        					<div class="row">
        						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        							<i class="fa fa-phone"></i>
        							<p>Sales +353 1 512 4400</p>
        						</div>
        						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        							<a href="">Sign In</a>
        							<a href="" class="btn btn-info">GET STARTED</a>
        						</div>
        					</div>
        				</div>
        			</div>
        <div class="container">
        	        
        			
        			<nav class="navbar navbar-default" role="navigation">
        				<div class="container-fluid">
        					<!-- Brand and toggle get grouped for better mobile display -->
        					<div class="navbar-header">
        						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        							<span class="sr-only">Toggle navigation</span>
        							<span class="icon-bar"></span>
        							<span class="icon-bar"></span>
        							<span class="icon-bar"></span>
        						</button>
        						<a class="navbar-brand" href="#">Title</a>
        					</div>
        			
        					<!-- Collect the nav links, forms, and other content for toggling -->
        					<div class="collapse navbar-collapse navbar-ex1-collapse">
        						
        						<ul class="nav navbar-nav navbar-right">
        							<li><a href="#">Home</a></li>
        							<li><a href="#">Features</a></li>
        							<li><a href="#">About Us</a></li>
        							<li><a href="#">Contact</a></li>
        							<li><a href="#">Request for Demo</a></li>                            
        							
        						</ul>
        					</div><!-- /.navbar-collapse -->
        				</div>

        			</nav>

        			
        	

        	<footer class="site-footer">
        		
        		<div class="container site-inner">
        			<div class="row">
        				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        					<img src="" class="logo">
        					<p>Lorem ipsum dolor sit amet.</p>
        				</div>

        				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        					<ul class="list-inline">
        						<li><a href="">Legal Stuff</a></li>
        						<li><a href="">Privacy Policy</a></li>
        						<li><a href="">Site Map</a></li>
        					</ul>
        				</div>

        			</div>
        		</div>

        	</footer>

		

         <!-- @include html_Moudles/footer.html -->