<!-- @include html_Moudles/header.html -->

<div class="top-bar">
   <div class="container">
      <div class="row">
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="text-primary fa fa-phone"></i>
            <select name="" id="input" class="form-control" required="required">
                    <option value="">Sales +353 1 512 4400</option>
            </select>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <a href="" class="btn gray">Sign In</a>
            <a href="" class="btn btn-info btn-simplify-sm ">GET STARTED</a>
         </div>
      </div>
   </div>
</div>

<div class="container">
   <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" class="img-responsive"></a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Home</a></li>
               <li><a href="#">Features</a></li>
               <li><a href="#">About Us</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">Request for Demo</a></li>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
   </nav>
</div>
<!-- container -->


<div class="hero">
			<h1>Simplify consectetur adipisicing <br>
			elit, sed do eiusmod tempor</h1>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
		</div> <!-- hero -->

		<div class="features">
                        <div class="container">

			<div class="top m-b-50">
                                <h1 class="m-b-20">Lorem ipsum dolor sit amet, consectetur adipisicing</h1>
                                <h5>Duis aute irure dolor in rerehenderit ...</h5>                     
                        </div>
			
                           <div class="feature-list">
                                <div class="item-outer">
                                        <div class="item">
                                                <h1>01</h1>
                                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing </h5>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                                </p>
                                        </div>
                                </div>
                                <div class="item-outer">
                                        <div class="item">
                                                <h1>02</h1>
                                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing </h5>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                                </p>
                                        </div>
                                </div>
                                <div class="item-outer">
                                        <div class="item">
                                                <h1>03</h1>
                                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing </h5>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                                </p>
                                        </div>
                                </div>
                                
                           </div>

                           <div class="feature-list">
                                <div class="item-outer">
                                        <div class="item">
                                                <h1>04</h1>
                                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing </h5>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                                </p>
                                        </div>
                                </div>
                                <div class="item-outer">
                                        <div class="item">
                                                <h1>05</h1>
                                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing </h5>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                                </p>
                                        </div>
                                </div>
                                <div class="item-outer">
                                        <div class="item">
                                                <h1>06</h1>
                                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing </h5>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                                </p>
                                        </div>
                                </div>
                           </div> <!-- feature-list -->                             
                        </div> <!-- container -->

		</div> <!-- features -->

		<div class="feature-tabs">
			<h1 class="bold text-center m-b-40">Sell more. Work less.</h1>
			<div role="tabpanel" class="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">UNCOVER NEW <br> LEADS</a> 
					</li>
					<li role="presentation">
						<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">CONNECT WITH <br> MORE LEADS</a>
					</li>
					<li role="presentation">
						<a href="#tab" aria-controls="tab2" role="tab" data-toggle="tab">CLOSE DEALS <br> FASTER</a>
					</li>
					<li role="presentation">
						<a href="#tab" aria-controls="tab3" role="tab" data-toggle="tab">MANAGE YOUR <br> PIPELINE</a>
					</li>
				</ul>
			
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">.
                                               <div class="container">
                                                       <div class="row">
                                                               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                   
                                                                   <img src="assets/images/image-01.png" alt="" class="img-responsive">         
                                                                             
                                                               </div>

                                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                      <h2 class="bold heading-underline">Uncover More New eads in Less Time.</h2>

                                                                      <p>
                                                                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                                      </p>

                                                                       <p>
                                                                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing 
                                                                      </p>


                                                                       <p>
                                                                         Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                                                      </p>

                                                                       <p>
                                                                         Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                      </p> 

                                                                       <h4 class="bold heading-underline upppercase m-t-30">FEATURES THAT MAKE THIS POSSIBLE</h4>

                                                                       <div class="clearfix">
                                                                               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
                                                                                   <ul class="featureslist">
                                                                                           <li>
                                                                                                   <a href="">Email Sequences </a>
                                                                                                   <a href="">Inbox Profiles</a>
                                                                                           </li>
                                                                                   </ul>    
                                                                               </div>
                                                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                       <ul class="featureslist">
                                                                                               <li>
                                                                                                       <a href="">Email Sequences </a>
                                                                                                       <a href="">Inbox Profiles</a>
                                                                                               </li>
                                                                                       </ul>  
                                                                               </div>
                                                                       </div>
                                                               </div>
                                                       </div>
                                               </div> <!-- container -->
                                        </div> <!-- home -->
					<div role="tabpanel" class="tab-pane" id="tab">
                                            <div class="container">
                                                    <div class="row">
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                
                                                                <img src="assets/images/image-01.png" alt="" class="img-responsive">         
                                                                          
                                                            </div>

                                                             <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                   <h2 class="bold heading-underline">2nd Uncover More New eads in Less Time.</h2>

                                                                   <p>
                                                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                                   </p>

                                                                    <p>
                                                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, consectetur adipisicing 
                                                                   </p>


                                                                    <p>
                                                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                                                   </p>

                                                                    <p>
                                                                      Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                   </p> 

                                                                    <h4 class="bold heading-underline upppercase m-t-30">FEATURES THAT MAKE THIS POSSIBLE</h4>

                                                                    <div class="clearfix">
                                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0">
                                                                                <ul class="featureslist">
                                                                                        <li>
                                                                                                <a href="">Email Sequences </a>
                                                                                                <a href="">Inbox Profiles</a>
                                                                                        </li>
                                                                                </ul>    
                                                                            </div>
                                                                             <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <ul class="featureslist">
                                                                                            <li>
                                                                                                    <a href="">Email Sequences </a>
                                                                                                    <a href="">Inbox Profiles</a>
                                                                                            </li>
                                                                                    </ul>  
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div> <!-- container -->                              
                                        </div> <!-- tab -->
					<div role="tabpanel" class="tab-pane" id="tab2">...</div>
					<div role="tabpanel" class="tab-pane" id="tab3">...</div>
				</div>
			</div>
		</div>
</div> <!-- container -->

		<div class="features-blue">

			
                        <div class="container">
                                <h1>Simplify’s lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </h1>
                        <div class="item-outer">

                                <div class="item">
                                        <img src="assets/images/sales.png">
                                        <h4>SALES</h4>
                                        <h5 class="heading-underline">IMPROVE EMAIL <br> PRODUCTIVITY</h5>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit, sed do eiusmod tempor
                                        </p>

                                         <p>
                                                incididunt ut labore et dolore magna
                                                aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in
                                                voluptate velit esse cillum 
                                         </p>
                                </div> <!-- item -->
                        </div> <!-- item-outer -->


                        <div class="item-outer">

                                <div class="item">
                                        <img src="assets/images/sales-crm.png">
                                        <h4>SALES + CRM</h4>
                                        <h5 class="heading-underline">IMPROVE EMAIL <br> PRODUCTIVITY</h5>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit, sed do eiusmod tempor
                                        </p>

                                         <p>
                                                incididunt ut labore et dolore magna
                                                aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in
                                                voluptate velit esse cillum 
                                         </p>
                                </div> <!-- item -->
                        </div> <!-- item-outer -->


                        <div class="item-outer">

                                <div class="item">
                                        <img src="assets/images/sales-crm-m.png">
                                        <h4>SALES + CRM + MARKETTING</h4>
                                        <h5 class="heading-underline">IMPROVE EMAIL <br> PRODUCTIVITY</h5>
                                       <p>
                                                Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit, sed do eiusmod tempor
                                        </p>

                                         <p>
                                                incididunt ut labore et dolore magna
                                                aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in
                                                voluptate velit esse cillum 
                                         </p>
                                </div> <!-- item -->
                        </div> <!-- item-outer --> 
                        </div>

			

		</div> <!-- features-blue -->


		<div class="vsm-feature">
                        <div class="container">
                                <h1>Tempor incididunt labore et dolore magna</h1>
                                <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/job.png" class="m-b-20">
                                                <h4>Job</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/work.png" class="m-b-20">
                                                <h4>Statements of Work</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/submission.png" class="m-b-20">
                                                <h4>Submission</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/job.png" class="m-b-20">
                                                <h4>Job</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/work.png" class="m-b-20">
                                                <h4>Statements of Work</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/submission.png" class="m-b-20">
                                                <h4>Submission</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                </div>


                                <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/job.png" class="m-b-20">
                                                <h4>Job</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/work.png" class="m-b-20">
                                                <h4>Statements of Work</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div> 
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <img src="assets/images/submission.png" class="m-b-20">
                                                <h4>Submission</h4>
                                                <p>
                                                        Duis aute irure dolor in
                                                        reprehenderit in voluptate velit
                                                        esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint
                                                        occaecat cupidatat.
                                                </p>
                                        </div>
                                </div>

                                <div class="start-vms">
                                     <div class="start-vms-inne">
                                         <img src="assets/images/person.png">
                                            <div class="left">
                                                     <h1>Start Using Simplify <br> Today</h1>
                                                     <p class="m-b-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                                                     <a class="btn btn-simplify btn-info m-b-20">GET STARTED FREE</a>

                                                     <p>Sed do eiusmod tempor incididunt ut labore.</p>
                                            </div>
                                                

                                            <div class="right">
                                                 
                                            </div>
                                     </div>   
                                </div>
                        </div>              
                </div> <!-- vsm-feature -->


                <footer class="site-footer">
                   <div class="container">
                      <div class="row footer-logo-row">
                         <div class="col-sm-12"><img src="assets/images/footer-logo.png" alt=""></div>
                      </div>
                      <div class="row copyright-row">
                         <div class="col-sm-8">Copyright &copy 2017 Hubspot, Inc</div>
                         <div class="col-sm-4">
                            <ul class="list-inline">
                               <li><a href="">Legal Stuff</a></li>
                               <li><a href="">Privacy Policy</a></li>
                               <li><a href="">Site Map</a></li>
                            </ul>
                         </div>
                      </div>
                   </div>

                </footer>

 <!-- @include html_Moudles/footer.html -->

                                <script src="https://use.typekit.net/njp3odu.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>