<!-- @include html_Moudles/header.html -->
<div class="top-bar">
   <div class="container">
      <div class="row">
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="dropdown">
               <div class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="text-primary fa fa-phone"></i> Sales +353 1 512 4400
                  <span class="fa fa-angle-down"></span>
               </div>
               <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
               </ul>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <a href="" class="btn">Sign In</a>
            <a href="" class="btn btn-mystyle btn-medium">GET STARTED</a>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" class="img-responsive"></a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Home</a></li>
               <li><a href="#">Features</a></li>
               <li><a href="#">About Us</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">Request for Demo</a></li>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
   </nav>
</div>
<!-- container -->
<footer class="site-footer">
   <div class="container">
      <div class="row">
         <div class="col-sm-3">
            <h4 class="footer-header">Increase Your Traffic</h4>
            <ul class="list-unstyled footer-menu">
               <li>Ad Software</li>
               <li>Blog Software</li>
               <li>SEO Software</li>
               <li>Social Media Software</li>
               <li>Content Optimization System</li>
            </ul>
         </div>
         <div class="col-sm-3">
            <h4 class="footer-header">connect with leads</h4>
            <ul class="list-unstyled footer-menu">
               <li>Find New Prospects</li>
               <li>Email Tracking</li>
               <li>Sales Email Templates</li>
               <li>Click to Call Your Leads</li>
               <li>Email Scheduling</li>
            </ul>
         </div>
         <div class="col-sm-3">
            <h4 class="footer-header">close and manage leads</h4>
            <ul class="list-unstyled footer-menu">
               <li>Document Tracking Tool</li>
               <li>Meeting Schedule Tool</li>
               <li>Sales Automation Tool</li>
               <li>Lead Management Tool</li>
               <li>Pipeline Management Tool</li>
            </ul>
         </div>
         <div class="col-sm-3">
            <h4 class="footer-header">support and tools</h4>
            <ul class="list-unstyled footer-menu">
               <li>Hubspot Partners and Templates</li>
               <li>Join a Local User Group</li>
               <li>Get a Free Website Report</li>
               <li>Free Email Signature Generator</li>
               <div class="m-t-20">
                  <button class="btn btn-custom btn-lg">Contact Simplify Support</button>
               </div>
               <div class="footer-social"><i class="fa fa-twitter"></i><i class="fa fa-facebook"></i><i class="fa fa-google-plus"></i><i class="fa fa-instagram"></i><i class="fa fa-youtube-play"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-pinterest"></i>
                  <i class="fa fa-vimeo-square"></i>
               </div>
            </ul>
         </div>
      </div>
      <div class="row footer-langs-row">
         <div class="col-sm-12 text-center">
            <ul class="list-inline">
               <li>English</li>
               <li>Deutsch</li>
               <li>Espanol</li>
               <li>Portugues</li>
               <li>Francals</li>
            </ul>
         </div>
      </div>
      <div class="row footer-logo-row">
         <div class="col-sm-12"><img src="assets/images/logo-grey.png" alt=""></div>
      </div>
      <div class="row copyright-row">
         <div class="col-sm-9">Copyright &copy 2017 Hubspot, Inc</div>
         <div class="col-sm-3">
            <ul class="list-inline">
               <li>Legal Stuff</li>
               <li>Privacy Policy</li>
               <li>Site Map</li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<script src="https://use.typekit.net/njp3odu.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- @include html_Moudles/footer.html -->