        <!-- @include html_Moudles/header.html -->
		
	<div class="page-wraper">

		<div class="db-content-wraper">

				<div class="page-sidebar">
						  
						  <h3>fixed sidebar</h3>
						  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div> <!-- page-sidebar --> 

				<div class="page-content-outer">
					
					<div class="page-content">
						
						<h3>Flud content aria </h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						
					</div> <!-- page-content -->

				</div> <!-- page-content-outer -->
				
		</div> <!-- db-content-wraper -->
			
	</div> <!-- page-wraper -->
       

    <!-- @include html_Moudles/footer.html -->